{% extends 'layout.html' %}
{% from 'macros.html' import render_field %}
{% block head_title %}Repo: {{ repo }}{% endblock %}
{% block main_header %}Repo: {{ repo }}{% endblock %}
{% block content %}
<section>
	<div class="section-content">
		<h3>Hooks</h3>
		{% for hook, details in hooks.items() %}
			<h4>{{ hook }}</h4>
			<h5>{{ details['doc'] }}</h5>
			{% for location in details['loc'] %}
				<p>Found in <a target="_blank" href='https://github.com/{{ user }}/{{ repo }}/blob/master/{{ location['file'] }}#L{{ location['line'] }}'>{{ location['file'] }} on line {{ location['line'] }}</a></p>
			{% endfor %}
		{% endfor %}
		<h3>Filters</h3>
		{% for filter, details in filters.items() %}
			<h4>{{ filter }}</h4>
			<h5>{{ details['doc'] }}</h5>
			{% for location in details['loc'] %}
			<p>Found in <a target="_blank" href='https://github.com/{{ user }}/{{ repo }}/blob/master/{{ location['file'] }}#L{{ location['line'] }}'>{{ location['file'] }} on line {{ location['line'] }}</a></p>
			{% endfor %}
		{% endfor %}
	</div>
</section>
{% endblock %}
